absl-py==2.1.0
aiodns==3.2.0
aiosmtpd==1.4.6
alembic==1.15.2
annotated-types==0.7.0
anyio==4.9.0
arabic-reshaper==3.0.0
art==6.4
asgiref==3.8.1
asn1crypto==1.5.1
astunparse==1.6.3
atpublic==5.1
attrs==25.3.0
bidict==0.23.1
blinker==1.9.0
blis==1.2.1
cachelib==0.13.0
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
cloudpickle==3.1.1
colorama==0.4.6
comtypes==1.4.10
confection==0.1.5
contourpy==1.3.1
cryptography==44.0.2
cssselect2==0.8.0
cvzone==1.6.1
cycler==0.12.1
cymem==2.0.11
decorator==5.2.1
defusedxml==0.7.1
Django==3.0
django-crispy-forms==2.4
Django-Verify-Email==3.0.3
dnspython==2.7.0
dominate==2.9.1
email_validator==2.2.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
facenet-pytorch==2.6.0
fer==22.5.1
ffmpeg==1.4
filelock==3.17.0
Flask==3.1.0
flask-cors==6.0.0
Flask-Login==0.6.3
Flask-Material==0.1.1
Flask-Migrate==4.1.0
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.2.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.70.0
gTTS==2.5.4
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.13.0
html5lib==1.1
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.30.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imgaug==0.4.0
imutils==0.5.4
iniconfig==2.0.0
itsdangerous==2.2.0
jax==0.6.0
jaxlib==0.6.0
Jinja2==3.1.5
joblib==1.4.2
jsonify==0.5
keras==3.8.0
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
libclang==18.1.1
lxml==5.4.0
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.1
moviepy==2.1.2
mpmath==1.3.0
msgspec==0.19.0
murmurhash==1.0.12
mysql-connector==2.2.9
mysqlclient==2.2.7
namex==0.0.8
narwhals==1.36.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
ollama==0.4.7
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.0
oscrypto==1.3.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
playsound==1.3.0
plotly==6.0.1
pluggy==1.5.0
preshed==3.0.9
proglog==0.1.10
progress==1.6
protobuf==4.25.7
psutil==7.0.0
py-cpuinfo==9.0.0
PyAudio==0.2.14
pycares==4.6.0
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.2
pydantic_core==2.33.1
PyEmotion==1.0.0
pygame==2.6.1
Pygments==2.19.1
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pymongo==4.12.0
PyMySQL==1.1.1
pyodbc==5.2.0
pyparsing==3.2.1
pypdf==5.4.0
pypiwin32==223
pytest==8.3.4
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.12.0
python-socketio==5.13.0
python-stdnum==1.20
pyttsx3==2.98
pytz==2025.1
pywin32==310
PyYAML==6.0.2
qrcode==8.1
RapidFuzz==3.13.0
regex==2024.11.6
reportlab==4.4.0
requests==2.32.3
rich==13.9.4
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sentencepiece==0.2.0
shapely==2.1.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.2
SQLAlchemy==2.0.40
sqlparse==0.5.3
srsly==2.5.1
svglib==1.5.1
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2025.3.30
tinycss2==1.4.0
tokenizers==0.21.1
tomli==2.2.1
torch==2.2.2+cu118
torchaudio==2.2.2+cu118
torchvision==0.17.2
tqdm==4.67.1
transformers==4.50.3
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
ultralytics==8.3.106
ultralytics-thop==2.0.14
uritools==4.0.3
urllib3==2.3.0
verify-email==2.4.3
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.2.1
xgboost==3.0.0
xhtml2pdf==0.2.17
xlwt==1.3.0
